<html>
	<head>
		<title>Demo Terraform Ansible</title>
	</head>
	<body>
		<h1>Grazie per essere venuti</h1>
		<h1>{{ ansible_managed }}</h1>
		<h2>{{ inventory_hostname }}</h2>
		<h2>{{ version }}</h2>

	</body>
</html>
