<html>
	<head>
		<title>Demo Terraform Ansible</title>
	</head>
	<body>
		<h1>{{ ansible_managed }}</h1>
		<h2>{{ inventory_hostname }}</h2>
		<h2>{{ version }}</h2>

		<img src="http://i.imgur.com/YsbKHg1.gif">
	</body>
</html>
